$color: #feefc4;

.autocomplete li.proshield {
    background: linear-gradient(190deg,#fff8e5 0,#ffdc80 80%);
    &:after {
        font-family: "FontAwesome";
        content: '\f132';
        font-size: 12px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &:hover, &.selected  {
        background: linear-gradient(190deg, darken(#fff8e5, 5%) -4%, darken(#ffdc80, 5%) 80%);
    }    
}