.logo {
    line-height: 38px;

    h1 {
        vertical-align: middle;
    }

    & > span {
        vertical-align: top;
        width: 38px;
        height: 38px;
        margin-right: 5px;
        position: relative;
        top: 4px;
        display: inline-block;
        background: url(../images/escudo.png);
    }
}

.site {

    .action  {
        .submit {
            & > i {
                margin-right: 5px;
            }
            background-color:  lighten(#02900D,10%);
            &:hover {
                background-color: lighten(#02900D, 13%);

            }
        }


        h3  {
            font-size: 18px;
            margin: 10px auto;
        }
    }
}

.bipbop-loader {
    z-index: 99999;
}

.input-confirm {
    text-align: center;
    background-color: lighten(#02900D, 65%);
}