.modal {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: block;
    background-color: darken(rgba(255,255,255,0.8), 10%);
    box-sizing: border-box;
    display: table;

    .map {
        display: block;
        height: 200px;
        /* vertical-align: middle; */
        margin: 20px 0;
        box-sizing: border-box;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .emails, .phones, .address {
        display: block;
        clear: both;
        margin: 20px 0;
        font-weight: 600;
    }

    h2,
    h3,
    h4 {
        line-height: 23px;
        margin: 8px 0;
        &:first-child {
            margin-top: 0;
        }
    }
    & > div {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        & > div {
            overflow: auto;
            position: relative;
            & > div {
                position: relative;
                box-sizing: border-box;
                margin: auto;
                box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.03);
                background: #fff;
                width: 100%;
                @include border-radius(3px);
                max-width: 600px;
                padding: 38px;
                border: #fff 1px solid;
            }
        }
    }
    .actions {
        text-align: center;
        margin-top: 10px;
        &:last-child li {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    input:last-child {
        margin-bottom: 0;
    }
    form ul.list {
        display: table;
        table-layout: fixed;
        width: 100%;
        background-color: darken(#fff, 1%);
        font-size: 15px;
        &:empty {
            display: none;
        }
        div,
        i {
            @include transition(background-color color 200ms ease-in);
            line-height: 120%;
            border-bottom: 1px lighten($color-background, 1%) solid;
            padding: 14px 8px;
            display: table-cell;
        }
        i {
            text-align: center;
            width: 18px;
            color: $color-action;
        }
        li {
            cursor: pointer;
            display: table-row;
            &:hover {
                div,
                i {
                    background-color: darken($color-background, 3%);
                }
                i {
                    color: darken($color-action, 5%);
                }
            }
            &.unread {
                background-color: lighten($color-action, 20%);
            }
            & > * {
                display: table-cell;
                vertical-align: middle;
                word-break: normal;
                overflow: hidden;
            }
        }
    }

    ul:not(.list):not(.actions) {
        li {
            margin: 5px 0;
            line-height: 150%;
            &:before {
                content: "- ";
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
    ol {
        counter-reset: m-counter;
        li {
            margin: 5px 0;
            line-height: 150%;
            &:before {
                content: counter(m-counter) ".";
                counter-increment: m-counter;
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
    p {
        margin: 14px auto;
    }
    strong {
        font-weight: 700;
    }
    .apiKey,
    .break {
        word-break: break-all;
    }
}
.app-progress {
    width: 100%;
    background-color: #DEE6E8;
    /* padding: 20px 30px; */
    box-sizing: border-box;
    position: relative;
    display: block;
    .perc {
        width: 15%;
        height: 100%;
        display: block;
        background-color: #3FB6DB;
        position: absolute;
    }
    span {
        padding: 20px;
        margin: auto;
        text-align: center;
        display: block;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
    }
}

.cc-number {
    background: url("../images/cc/blue-yellow-stripes.png");
    background-repeat: no-repeat;
    background-position: right center;
    /* padding-left: 65px; */
    background-origin: content-box;
}

.observation {
    text-align: center;
    /* font-weight: bold; */
    font-size: 11px;
    margin: 8px 0;
}
