.site {

    background-color: #fff;

    .logo {
        text-align: left;
        display: inline-block;
        width: auto;
    }

    .content {
        padding: 10px 30px;
    }

    .header {
        position: initial;
        display: table;
        &>* {
            display: table-cell;
        }
    }

    .nav {
        text-align: right;
        box-sizing: content-box;
        vertical-align: middle;

        ul {
            display: inline-block;
        }

        li {
            display: inline-block;
            margin-right: 5px;
            color: $color-site-menu;
            vertical-align: middle;
            text-align: center !important;

            a {
                box-sizing: border-box;
                display: inline-block;
                min-width: 74px;
                padding: 8px;
                width: 100%;
                height: 100%;
                @include unstyled-link;
            }

            &:hover {
                background-color: $color-site-menu-hover;
                color: #fff;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

        @media (max-width: 600px) {

            &:before {
                font-family: "FontAwesome";
                content: "\f0c9";
            }

            li {
                display: none;
            }

            &:hover {

                ul {
                    position: fixed;
                    display: block;
                    left: 0;
                    top: 10%;
                    width: 100%;
                }

                li {
                    margin-right: 0;
                    padding: 15px 0;
                    background-color: transparentize($color-site-menu-hover, 0.02);
                    color: #fff;
                    border-top: 1px #eee solid;
                    display: block;
                    &:first-child {
                        border-top: none;
                    }
                    &:hover {
                        background-color: $color-site-menu-hover;
                    }
                }
            }
        }
    }



    .submit {
        display: inline-block;
        width: auto;
        box-shadow: none;
        text-align: center;
        border: none;
        background-color: #fdad30;
        color: #fff;
        margin: 0 12px;
        font-weight: bold;
        &:hover {
            background-color: darken(#fdad30, 10%);
        }
    }

    h2 {
        font-size: 32px;
        line-height: 50px;
        vertical-align: bottom;
        font-weight: 600;
        margin: auto;
        max-width: 600px;
    }

    .action {
        text-align: center;
        margin: 62px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }

    h3, blockquote {
        line-height: 32px;
        font-size: 24px;
        max-width: 780px;
        margin: auto;
    }

    .mission {
        blockquote {
            &:before, &:after {
                font-family: "FontAwesome";
            }
            &:before {
                content: '\f10d';
                margin-right: 23px;
            }
            &:after {
                content: '\f10e';
                margin-left: 8px;
            }
        }
        small {
            font-size: 16px;
        }
    }

    h4 {
        text-transform: uppercase;
        font-size: 18px;
    }

    .why-list {
        margin: 69px auto;
        li {
            vertical-align: top;
            max-width: 240px;
            text-align: center;
            margin: 30px;
            display: inline-block;
        }
    }

    hr {
        border: none;
        width: 80%;
        text-align: center;
        margin: auto;
        border: none;
        border-top: #eee 1px solid;
        &.bold {
            width: 100%;
            border-top: lighten(#000, 30%) 1px solid;

        }

    }

    .carrousel {
        width: 1000px;

        @media (max-width : 1000px) {
            display: none;
        }

        height: 550px;
        background-color: #eceff4;
        margin: auto;

        ul {
            text-align: center;
        }

        li {
            margin: 24px 12px;
            display: inline-block;
            width: 12px;
            height: 12px;
            @include border-radius(6px);
            background: #000;
            cursor: pointer;

            &.selected {
                background: #fff;
                box-shadow: 1px 1px 0px #eee inset;
            }
        }

        img {
            display: none;
            &:first-of-type {
                display: block;
                margin: auto;
            }
        }
    }

    .plans {

        text-align: center;

        .plan {
            vertical-align: top;
            width: 260px;
            box-sizing: border-box;
            margin: 20px;
            display: inline-block;
            border: 1px #bcbddb solid;

            div {
                border-top: 1px dotted #bcbddb;
                padding: 18px;
                &:first-child {
                    border-top: none;
                }
            }

            font-size: 14px;
            line-height: 16px;

            .head2 {
                background-color: #cbcce8;
                font-weight: bolder;
            }

            .head1 {
                @extend .head2;
                font-size: 18px;
                line-height: 23px;
                background-color: #e2e3ff;
            }

            .enter {
                background-color: #eaebff;
                .submit {
                    background-color: #27b5ff;
                    &:hover {
                        background-color: darken(#27b5ff, 10%);
                    }
                }
            }
        }

        p {
            text-align: left;
        }

        .submit {
            width: 200px;
        }
    }

    footer {
        color: darken(#eee, 20%);
        line-height: 30px;
        margin: 15px auto;
        text-align: left; 
        font-size: 10px;

        hr {
            width: 100%;
        }

        .findus {
            display: inline-block;
            float: right;
            cursor: pointer;
            a {
                @include unstyled-link;
            }
            & > * {
                transition: color 600ms linear;
                margin: 7px 12px;
                &:hover {
                    color: $color-site-menu-hover;
                }
            }

        }

        i {
            font-size: 18px;
        }
    }

    a {
        @include link-colors($color-site-menu-hover, darken($color-site-menu-hover, 10%));
    }


    .icon-time {
        width: 45px;
        height: 45px;
        background-image: url(../images/site/time.png);
        margin: 12px auto;
        display: block;
    }

    .icon-money {
        @extend .icon-time;
        background-image: url(../images/site/money.png);
    }

    .icon-safe {
        @extend .icon-time;
        background-image: url(../images/site/lock.png);
    }

    .checklist {
        max-width: 800px;
        text-align: left;
        margin: 60px auto;
        position: relative;

        li {
            &:before {
                left: 0;
                position: absolute;
                content: "\f00c";
                font-family: "FontAwesome";
                font-size: 21px;
                margin-right: 16px;
                color: $color-action;
            }
            display: block;
            line-height: 150%;
            margin: 10px auto;
            font-size: 16px;
            padding-left: 33px;
        }
    }
}
