$default-prefixes: webkit moz ms o;

/* Fontes */
$font-poiret-one: 'Poiret One', cursive;
$font-open-sans: 'Open Sans', sans-serif;
$font-open-sans-condensed: 'Open Sans Condensed', sans-serif;

/* Cores */
$color-font: #575963;
$color-background: #efefef;
$color-action: #93A7D8;
$color-programa: #A6D2BA;
$color-patente: #FFAE86;
$color-desenho: #F38686;
$color-marca: #FFD786;
$color-save: #effbf2;

/* Margens */
$page-width: 1260px;
$page-padding: 20px;
