@import "variables";
@import "compass/css3/border-radius";

.radialProject {

    /* http://codepen.io/cliffpyles/pen/xbsiC */

    $size: 128px;
    $color: #81CE97;
    $color-attention: #b94a6a;
    $color-empty: #E5E5E5;

    @mixin contentColor($content-color: $color) {
        &.gtHalf {
            background-color: $content-color;
            .progress .progressFill {
                background: $color-empty;
            }
        }

        .progress .progressFill {
            background: $content-color;
        }

        .percents span {
            color: $content-color;
        }

    }

    @mixin circle($size) {
        content: "";
        position: absolute;
        border-radius: 50%;
        left: calc(50% - #{$size/2});
        top: calc(50% - #{$size/2});
        width: $size;
        height: $size;
    }    

    @include border-radius(50%);
    width: $size;
    height: $size;
    background-color: $color-empty;
    position: relative;
    margin-bottom: 5px;

    .progress {
        @include circle($size);
        clip: rect(0, $size, $size, #{$size/2});
        .progressFill {
            @include circle($size);
            clip: rect(0, #{$size/2}, $size, 0);
            transform: rotate(60deg);
        }
    }

    &.gtHalf {
        clip: rect(0, #{$size/2}, $size, 0);
        .progressFill {
            background: $color-empty;
        }
    }

    .percents {
        @include circle(#{$size/1.15});
        background: #fff;
        text-align: center;
        display: table;
        span {
            display: block;
            font-weight: bold;
        }
    }

    .percentsWrapper {
        display: table-cell;
        vertical-align: middle;
    }

    @include contentColor();

    &.warning {
        @include contentColor(lighten(#ff4d4d, 5%));
    }

    &.attention {
        @include contentColor(#f2ac33);
    }

}